@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*----------------------- header*/

head {
  font-family: 'Roboto', sans-serif;
}

body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #333;
  display: block;
  padding: 10px 20px 75px 20px;
  

}

/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: #354b5e;
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;

}

.navbar .navbar-nav a {
    font-weight: bold;
    color: white;
}



/*---------------------end of navigation bar*/

/*--------------------- itinerary carousel*/
.itinerary-title {
    position: relative;
    color: #354b5e;
    top: 100px;
}


.container-itinerary {
  position: relative;
  height: 300px;
  width: 600px;
  
  left: calc(50% - 300px);
  display: flex;
}

.card {
  display: flex;
  height: 280px;
  width: 250px;
  background-color: #cde2f4;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: #354b5e;
  font-weight: 300;
  position: relative;
  left: 20px;
  top: 15px;
}



/*--------------------- itinerary carousel*/

/* Quotes */

.reviews .page-header {
    position: relative;
    margin-bottom: 25px;
}
/* ----------------------------------------Footer */

footer {
    background-color: #354b5e;git commit -m "-"
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.cv-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #e84610;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 20px;
}

/* ----------------------------------------End of footer */