@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
* {margin: 0; padding: 0}
/*----------------------- header*/

head {
  font-family: 'Roboto', sans-serif;
}

body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #333;
  display: block;
}

/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: #354b5e;
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;

}

.navbar .navbar-nav a {
    font-weight: bold;
    color: white;
}



/*---------------------end of navigation bar*/

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}


/*--------------------- itinerary*/
.itinerary-title {
    color: #354b5e;
    margin-top: 2rem;
}

@media screen and (max-width: 600px){
.container-itinerary {
  position: relative;
  height: 300px;
  width: 600px;
  left: calc(50% - 300px);
  display: flex;
}
}

.row {
    padding: 15px;
    border-radius: 10px;
  position: relative;
  margin-right: 20px;
    margin-left: 20px;
  text-align: center;
}

@media screen and (max-width: 600px){
    .row {
        width: 100%;
        height: 100px
    }
}

@media screen and (max-width: 600px){
.row:not(:first-child) {
    margin-left: -50px;
}
}

.text {
text-align: center;
}

.title {
  text-align: center;  
}



/*--------------------- end of itinerary */

#map {
    height: 500px;
    width: 100%;
    background-color: grey;
}



/* reviews */

.reviews .page-header {
    position: relative;
    margin-bottom: 25px;
}


/* ----------------------------------------Footer */

footer {
    background-color: #354b5e;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

.brochure i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
}

.brochure i:hover {
    color: #7fbff6;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #7fbff6;
}

#footer-details {
    padding: 20px;
}

/* ----------------------------------------End of footer */